@media screen and (max-width:576px) {
    .contenar {
        max-width: 90%;
    }

    /* nav bar  */

    .fa-bars {
        display: block;
        font-size: 2rem;

    }

    .nav-bar {
        align-items: center;
    }

    .nav-items {
        display: none;
    }

    .brand {
        font-size: 3rem;
    }

    /* Hero  */

    .hero-section {
        flex-direction: column;
    }

    .hero-text-part {
        max-width: 100%;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-btn-part {
        display: flex;

        align-items: center;
        justify-content: space-between;

    }


    .join-btn {
        padding: 12px 24px;
        font-size: 18px;
        text-wrap: nowrap;

    }

    .download-btn {
        padding: 10px 22px;
        border: 2px solid white;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .hero-img-part {
        max-width: 90%;
    }

    .hero-img {
        width: 100%;
    }

    .blur-1 {
        left: -30px;
        padding: 20px 15px;
    }

    .blur-2 {
        right: -30px;
        padding: 20px 15px;
    }

    .blur-2 p {
        font-size: 14px;
    }

    .video-count {
        font-size: 20px;
        font-weight: 700;
    }

    .video-count-workout {
        font-size: 24px;
    }

    /* change habit  */
    /* Change Your Habits  */
    .change-habits-cont {
        margin-top: 10px;
    }

    .habit-title {
        font-size: 2rem;
    }

    .change-habits-header {
        max-width: 100%;
    }


    .change-habit-card-contenar {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    /* Run an Extra Mile Easily  */

    .run-section {
        flex-direction: column;
        gap: 31px;
        max-width: 65%;
    }

    .run-text-part {
        max-width: 100%;

    }

    .run-title {
        font-size: 2rem;
    }

    .run-btn {
        width: 100%;
    }

    .run-img-part {
        max-width: 350px;
        max-height: 170px;
    }

    .run-img-part img {
        width: 100%;
        position: static;
    }

    /* BMI  */
    .bmi-main-contenar {
        flex-direction: column;
        gap: 40px;
    }

    .bmi-cal input,
    select {
        padding: 14px 0px;
        width: 100%;

        /* width: 40%; */
    }

    .bmi-header-title {
        font-size: 2rem;

    }

    .bmi-cal-contenar {
        max-width: 90%;
        margin: 0 auto;
    }

    .bmi-cal-header {
        max-width: 90%;
    }

    .bmi-cal {
        gap: 15px;

    }

    /* trenner  */
    .mit-our-tim-header {
        max-width: 90%;
    }

    .our-tim-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .trainer {
        width: 95%;
        height: 240px;
    }

    /* Footer  */
    .footer-contenar {
        flex-direction: column;
    }



    .daily-sec-header h1 {
        font-size: 2rem;
    }

    .daily-sec-card-contener {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

}